#form-filter{
    margin-bottom: 50px;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#form-filter select{
    margin: 10px 15px;
    padding: 5px;
    width: 200px;
    height: auto;
    color: #ffffff;
    background-color: #14191D;
    border-radius: 5px;
    outline: none;
    border: 1px solid #ffffff11;
}
#form-filter input{
    margin: 10px 15px;
    padding: 5px 15px;
    height: auto;
    color: #ffffff;
    background-color: #0085E4;
    border-radius: 5px;
    outline: none;
    border: 1px solid #ffffff11;
}

.result-filters{
    margin-bottom: 50px;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 50px;
}