#form-filter{
    margin-bottom: 50px;
}

.result-filters{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 50px;
}