@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #14191D;
}
::-webkit-scrollbar-thumb {
    background: #019949;
    border-radius: 5px;
}

.home-container{
    width: 100%;
    height: auto;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #000000;
    overflow: hidden;
}

header{
    z-index: 150;
    padding: 0 5%;
    width: 100%;
    height: 65px;
    background: rgba(0, 0, 0, 0.50);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.50);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    }
    .home{
        margin-right: auto;
        color: #ffffff;
        font-size: 10px;
        font-weight: 500;
        text-decoration: none;
    }
    .all-games{
        display: none;
    }
    .avatar{
        margin-left: 10px;
        width: 25px;
        height: 25px;
        background-color: #ffffff;
        border-radius: 50%;
    }

.inicio{
    width: 100%;
    height: 100vh;
    min-height: 650px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    }
    .inicio aside{
        margin-top: 150px;
        z-index: 100;
        width: 80%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        }
        .inicio aside h1{
            margin: 0;
            font-size: 50px;
            font-weight: 700;
            text-align: left;
            color: #ffffff;
        }
        .inicio aside p{
            margin: 0;
            font-size: 20px;
            font-weight: 300;
            color: #ffffffab;
        }
        .links{
            margin-top: 20px;
            width: auto;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            }
            .filters{
                margin-right: 20px;
                padding: 10px 15px;
                font-size: 10px;
                font-weight: 800;
                color: #000000;
                clip-path: polygon(7% 0%, 100% 0, 100% 70%, 93% 100%, 0 100%, 0% 30%);
                background-color: #ffffff;
                text-decoration: none;
                position: relative;
                }
                .filters::before{
                    content: "";
                    width: 50px;
                    height: 1px;
                    background-color: #000;
                    position: absolute;
                    top: 7px;
                    right: 7px;
                }
                .filters::after{
                    content: "";
                    width: 1px;
                    height: 15px;
                    background-color: #000;
                    position: absolute;
                    top: 7px;
                    right: 7px;
                }
            .all-games_movile{
                display: block;
                margin: auto 0;
                color: #ffffff75;
                font-size: 14px;
                font-weight: 500;
                text-decoration: none;
            }
    .img-inicio{
        z-index: 50;
        width: auto;
        height: 60%;
        position: absolute;
        bottom: 0;
    }
    .img-inicio-back{
        margin: auto;
        width: 100%;
        height: 100%;
        opacity: 10%;
        object-fit: cover;
        position: absolute;
    }

.links-options{
    margin: 0;
    width: 100%;
    height: auto;
    background-color: #14191D;
}

.games-home{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: #000000;
    }
    .games-home h2{
        margin: 100px auto 50px auto;
        font-size: 45px;
        font-weight: 700;
        color: #ffffff;
    }
    .all-games_content{
        width: 100%;
        height: auto;
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-columns: repeat(auto-fit, 320px);
        gap: 50px;
    }

.games-search{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    }.games-search h2{
        margin: 100px auto 50px auto;
        font-size: 45px;
        font-weight: 700;
        color: #ffffff;
    }

.games-filters{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: #14191D;
}

.bottom{
    margin-bottom: 50px;
}

@media only screen and (min-width: 700px) {
header{
    padding: 0 7.5%;
    width: 100%;
    height: 65px;
    }
    .home{
        font-size: 20px;
    }
    .all-games{
        display: block;
        margin-right: 35px;
        color: #ffffff75;
        font-size: 15px;
        font-weight: 500;
        text-decoration: none;
    }
    .all-games_movile{
        display: none;
    }
    .avatar{
        margin-left: 35px;
        width: 30px;
        height: 30px;
    }

.inicio{
    z-index: 10;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
    }
    .inicio aside{
        z-index: 100;
        margin: 0;
        padding-left: 7.5%;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        }
        .inicio aside h1{
            margin: 0;
            font-size: 80px;
        }
        .inicio aside p{
            margin: 0;
            font-size: 25px;
        }
        .links{
            margin-top: 20px;
            width: auto;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            }
            .filters{
                padding: 15px 20px;
                margin: 0;
                font-size: 12px;
            }
    .img-inicio{
        z-index: 50;
        margin: auto;
        width: auto;
        height: 70%;
        top: 0;
        left: auto;
        right: 0;
    }
}