.options{
    width: 100%;
    height: auto;
    display: grid;
    grid-row: 1fr;
    grid-template-columns: repeat(3, 1fr);
}
.options ul{
    display: flex;
    flex-wrap: wrap;
}
.options a{
    margin: 5px;
}