body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #14191D;
}
::-webkit-scrollbar-thumb {
    background: #019949;
    border-radius: 5px;
}

.home-container{
    width: 100%;
    height: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #14191D;
}

header{
    z-index: 150;
    padding: 0 5%;
    width: 100%;
    height: 65px;
    background-color: #00000025;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0;
    }
    .home{
        margin-right: auto;
        color: #ffffff;
        font-size: 20px;
        font-weight: 500;
        text-decoration: none;
    }
    .all-games{
        margin-right: 35px;
        color: #ffffff75;
        font-size: 15px;
        font-weight: 500;
        text-decoration: none;
    }
    .avatar{
        margin-left: 35px;
        width: 30px;
        height: 30px;
        background-color: #ffffff;
        border-radius: 50%;
    }

.inicio{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
    }
    .inicio aside{
        z-index: 100;
        padding-left: 7.5%;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        }
        .inicio aside h1{
            margin: 0;
            font-size: 80px;
            text-align: center;
            color: #ffffff;
        }
        .inicio aside p{
            margin: 0;
            font-size: 25px;
            text-align: center;
            color: #ffffff;
        }
        .links{
            margin-top: 20px;
            width: auto;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            }
            .filters{
                margin: 0;
                padding: 12.5px 17.5px;
                color: #ffffff;
                background-color: #019949;
                font-size: 12px;
                font-weight: 700;
                text-decoration: none;
                border-radius: 25px;
            }
    .img-inicio{
        z-index: 50;
        width: auto;
        height: 75%;
        position: absolute;
        right: 7.5%;
    }
    .img-inicio-back{
        margin: auto;
        width: 100%;
        height: 100%;
        opacity: 10%;
        object-fit: cover;
        position: absolute;
    }

.links-options{
    margin: auto;
}

.games-home{
    margin: auto;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.games-search{
    margin: auto;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.games-filters{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}