:root{
  --main-bg-color: #121212;
  --second-bg-card: #1B1B1B;
  --main-blue: #007DFC;
  --main-white: #FFFFFF;
  --second-white: #767676;
}

#search{
    display: flex;
    align-items: center;
    position: relative;
}

#search input{
    padding: 4px 12px;
    width: 120px;
    color: var(--main-white);
    font-size: 12px;
    font-weight: 500;
    background-color: transparent;
    border: 1px solid var(--second-white);
    border-radius: 15px;
    outline: none;
}

#search svg{
  width: 14px;
  height: 14px;
  position: absolute;
  right: 10px;
}

@media only screen and (min-width: 700px){
    #search input{
        padding: 4px 16px;
        width: auto;
        font-size: 14px;
    }
}