#search{
    margin: 0;
}

#search input{
    padding: 5px 15px;
    width: auto;
    color: #ffffff;
    font-size: 10px;
    font-weight: 500;
    background-color: #ffffff1e;
    border: none;
    border-radius: 15px;
    outline: none;
}

@media only screen and (min-width: 700px){
    #search input{
        padding: 5px 15px;
        width: auto;
        color: #ffffff;
        font-size: 14px;
        font-weight: 500;
        background-color: #ffffff1e;
        border: none;
        border-radius: 15px;
        outline: none;
    }
}