:root{
  --main-bg-color: #121212;
  --second-bg-card: #1B1B1B;
  --main-blue: #007DFC;
  --main-white: #FFFFFF;
  --second-white: #767676;
}

.game{
    padding: 18px;
    margin: auto;
    width: 100%;
    max-width: 320px;
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
  }
  .game h4{
    z-index: 10;
    width: 100%;
    font-size: 18px;
    font-weight: 700;
    text-align: left;
    color: var(--main-white);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .game p{
    z-index: 10;
    margin-top: 2px;
    width: 100%;
    font-size: 8px;
    font-weight: 500;
    text-align: left;
    color: var(--second-white);
  }
  .game h5{
    z-index: 10;
    width: 100%;
    margin-top: auto;
    font-size: 10px;
    font-weight: 500;
    text-align: left;
    color: var(--main-white);
  }
  .game .shadow-game{
    z-index: 5;
    width: 100%;
    height: 100%;
    background-color: #121212b9;
    position: absolute;
  }
  .game img{
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all .2s ease-in-out;
  }
  .readmore{
    z-index: 10;
    padding: 6px 16px;
    font-size: 10px;
    font-weight: 700;
    color: var(--main-bg-color);
    background-color: var(--main-white);
    border-radius: 4px;
    box-shadow: 0px 0px 10px 1px #0C0E237d;
    position: absolute;
    text-decoration: none;
    bottom: 18px;
    right: 18px;
    transition: all .2s ease-in-out;
  }
  .readmore:hover ~ img{
    transform: scale(1.1);
  }